name: reusable-ci

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
      path_filter:
        required: true
        type: string

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GHCR_OWNER: jagadeesh-ml
      IMAGE: ghcr.io/${{ env.GHCR_OWNER }}/${{ inputs.service_name }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install dependencies
        run: |
          if [ -f package-lock.json ]; then
            npm ci
          else
            npm install
          fi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push (linux/amd64)
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.path_filter }}
          platforms: linux/amd64
          push: true
          tags: ${{ env.IMAGE }}:sha-${{ github.sha }}
